@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --menu-actived-color: #62e9ff;
  --meu-color: #b6b6b6;
  ---menu-border-color: #79ceff;
  ---hero-sec-text-color: #ffffff;
  ---hero-sec-text-gradient: linear-gradient(
    90deg,
    rgba(0, 218, 253, 1) 0%,
    rgba(0, 133, 209, 1) 63%
  );
  --hero-button-gradient: linear-gradient(
    90deg,
    rgba(0, 218, 253, 1) 0%,
    rgba(0, 166, 226, 1) 100%,
    rgba(0, 133, 209, 1) 63%
  );
  ---topbar-color: #ffff;
  ---menu-bg: #1a1a1a;
}

body {
  background-color: #111111;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h2 h3 h4 h5 h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1600px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  padding: 0 15px;
}

.col-50 {
  width: 50%;
}

.col-33 {
  width: 33.33%;
}

.col-25 {
  width: 25%;
}

.col-16 {
  width: 16%;
}

/* navbar-start  */
.navbar {
  padding: 27px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(---topbar-color);
}

.navbar-brand a {
  max-width: 180px;
  width: 100%;
}

.toggle_bar {
  display: none;
}

.nav_list {
  background-color: var(---menu-bg);
  padding: 13px 77px 22px 46px;
  border-radius: 20px;
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list li {
  margin-right: 65px;
}

.nav_list li:nth-child(3) {
  margin-right: 0;
}

.nav_list li a {
  font-size: 21px;
  color: var(--meu-color);
  text-align: center;
  font-weight: 600;
  line-height: 7.42px;
  transition: all 0.5s ease-in-out;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 23px;
  max-width: 32px;
  width: 100%;
}

.icon-2 {
  margin-right: 27px;
  max-width: 32px;
  width: 100%;
}

.actived {
  position: relative;
}

.nav_list a:hover {
  color: #62e9ff;
}

.actived::before {
  content: "";
  display: block;
  width: 29px;
  height: 2px;
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-23px, -29px);
  background-color: #62e9ff;
}

.nav-btn {
  border: 2px solid var(---menu-border-color);
  color: var(--meu-color);
  font-weight: 500;
  font-size: 21px;
  padding: 14px 24px 14px 23px;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}

.nav-btn:hover {
  background-color: var(---menu-border-color);
  color: #111111;
}

/* hader-part-end  */
/* banner-part-start  */

.banner-text {
  text-align: center;
  max-width: 1002px;
  width: 100%;
  margin-left: 314px;
  margin-right: 284px;
}

.banner-text h1 {
  color: var(---hero-sec-text-color);
  font-size: 80px;
  margin-bottom: 33px;
}

.banner-text span {
  background: var(---hero-sec-text-gradient);
  background-clip: text;
  color: transparent;
}

.banner-images {
  max-width: 611px;
  width: 100%;
  vertical-align: middle;
  transform: translate(0%, 4%);
}

.banner-para {
  max-width: 345.45px;
  width: 100%;
  margin-top: 90px;
}

.banner-para p {
  font-size: 23px;
  font-weight: 600;
  line-height: 30px;
  color: #a5a5a5;
}

.para-2 {
  margin-bottom: 69px;
}

.button{
  padding: 15px 35px 15px 30px;
  border-radius: 8px;
  font-size: 21px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.banner-button-1 {
  margin-right: 26px;
  background: var(---hero-sec-text-gradient);
  color: #090909;
}

.banner-button-2 {
  border: 2px solid #62e9ff;
  padding-left: 55px;
  padding-right: 55px;
  /* padding: 16.33px 56px 18.17px 56px;
  border-radius: 8px; */
  color: #d1d1d1;
  /* font-size: 21px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal; */
  transition: all 0.5s ease-in-out;
}

.banner-button-2:hover {
  background-color: var(---menu-border-color);
  color: #111111;
}

.number-text {
  text-align: center;
}

.number-text h2 {
  font-size: 55px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 19px;
}

.number-text p {
  color: #01ade5;
  margin-bottom: 35px;
  font-size: 19px;
}

.banner-button-sec {
  display: flex;
}

.border-bottom {
  position: relative;
}

.border-bottom::before {
  content: "";
  display: block;
  width: 179.5px;
  height: 2px;
  background-color: #01ade5;
  position: absolute;
  top: 35px;
  left: 35px;
}

.number-text h3 {
  font-size: 55px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 68px;
}

.number-text h4 {
  font-size: 55px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 29px;
}

/* banner-part-end  */
/* trending-part-start  */
.trending-bg {
  background-color: #000000;
  padding: 117px 0 0px;
  position: relative;
}

.trending-text h2 {
  font-size: 30px;
  color: #93ebf9;
  font-weight: 600;
  line-height: 5.2px;
  margin-bottom: 25px;
}

.trending-text h3 {
  font-size: 70px;
  font-weight: 500;
  color: #93ebf9;
  margin-bottom: 22px;
}

.trending-text-para {
  max-width: 479px;
  width: 100%;
  text-align: center;
}

.trending-text-para p {
  font-size: 18px;
  font-weight: 600;
  color: #a5a5a5;
}

/* swiper-css  */

/* .item {
  background-color: #1c1d1f;
  padding: 27px 0 37px;
  border-radius: 15px;
  margin-top: 153px;
  position: relative;
} */

/* .owl-carousel .owl-nav button.owl-prev {
  background: #000000;
  box-shadow: 0px 0px 8px 0px rgba(226, 226, 226, 0.671) !important;
  color: #ffffff;
  border: none;
  padding: 9px 41px !important;
} */

/* .owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 50px !important;
  margin-right: 40px; */
  /* padding: 4px 7px; */
  /* background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
} */

/* .owl-carousel .owl-nav button.owl-next {
  background: #f5f5f5;
  color: #000000;
  border: none;
  padding: 9px 41px !important;
} */
/* .owl-nav {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(483px, -187%);
  margin-right: 5px;
} */
.trending-text-sec {
  display: flex;
  justify-content: space-between;
  background-color: #1c1d1f;
  padding: 7px 18px;
  max-width: 255.11px;
  width: 100%;
  position: absolute;
  bottom: 31px;
  left: 26px;
  border-radius: 10px;
}
.Trending-card-text h4 {
  color: #cfcfcf;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 8px;
}
.Trending-card-text h5 {
  color: #93ebf9;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}
.trending_card {
  position: relative;
}

.Trending-card-text-2 h4 {
  color: #cfcfcf;
  font-size: 17px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.Trending-card-text-2 h5 {
  color: #93ebf9;
  font-size: 15px;
  font-weight: 500;

  text-align: center;
  font-family: "Poppins", sans-serif;
}
.Trending-card-text-3 {
  position: absolute;
  top: 25px;
  right: 78px;
  /* transform: translate(273px, -29px); */
}
.Trending-card-text-3 h2 {
  font-size: 15px;
  font-weight: 500;
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
}

.Trending-card-text-3 h3 {
  font-size: 24px;
  font-weight: 500;
  color: #93ebf9;
  font-family: "Poppins", sans-serif;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #f5f5f5;
  color: #000000 !important;
  text-decoration: none;
}
.card-button {
  text-align: center;
}
.card-button-background {
  text-align: center;
  background: #1b1a1f;
  padding: 16px 63px;
  margin-top: 47px;
  border-radius: 10px;
  box-shadow: 5px 2px 2px 2px rgb(99, 198, 255);
  color: #fde5e5;
  font-size: 20px;
}

.our_Partners {
  background-color: #d9d9d9;
  margin-top: 160px;
  padding: 33px 0 33px;
}

.our_Partners-images {
  text-align: center;
  max-width: 228px;
  width: 100%;
  margin-right: 111px;
}

.our_Partners-images img {
  margin-right: 111px;
}

.our_Partners-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* trending-section-part-end  */
.Create-and-sell-section {
  margin-top: 187px;
  margin-bottom: 232px;
}

.create-and-sell-text {
  width: 100%;
  max-width: 446px;
}

.create-and-sell-text h2 {
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 185px;
  margin-bottom: 33px;
}
.create-and-sell-text p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 400;
}

.create-button {
  background-color: #1b1a1f;
  padding: 13px 49px 27px 53px;
  border-radius: 10px;
  box-shadow: 5px 4px 2px 0px rgb(99, 198, 255);
  color: #fde5e5;
}
.create-sell-box_1 {
  background-color: #191919;
  max-width: 385px;
  margin-bottom: 69px;
  margin-right: 62px;
  border: 2px solid #01ade5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 0;
}
.creat-sell-box-images {
  max-width: 53px;
  width: 100%;
  text-align: center;
}

/* card -start  */
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide:nth-child(2n) {
  width: 80%;
}

@media screen and(max-width:576px) {
  .banner-text {
    text-align: center;
    max-width: 1002px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
