@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --menu-actived-color: #62e9ff;
  --meu-color: #b6b6b6;
  ---menu-border-color: #79ceff;
  ---hero-sec-text-color: #ffffff;
  ---hero-sec-text-gradient: linear-gradient(
    90deg,
    rgba(0, 218, 253, 1) 0%,
    rgba(0, 133, 209, 1) 63%
  );
  --hero-button-gradient: linear-gradient(
    90deg,
    rgba(0, 218, 253, 1) 0%,
    rgba(0, 166, 226, 1) 100%,
    rgba(0, 133, 209, 1) 63%
  );
  ---topbar-color: #ffff;
  ---menu-bg: #1a1a1a;
}

body {
  background-color: #111111;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h2 h3 h4 h5 h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1600px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  padding: 0 15px;
}

.col-50 {
  width: 50%;
}

.col-33 {
  width: 33.33%;
}

.col-25 {
  width: 25%;
}

.col-16 {
  width: 16%;
}

/* navbar-start  */
.navbar {
  padding: 27px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(---topbar-color);
}

.navbar-brand a {
  max-width: 180px;
  width: 100%;
}

.toggle_bar {
  display: none;
}

.nav_list {
  background-color: var(---menu-bg);
  padding: 13px 77px 22px 46px;
  border-radius: 20px;
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list li {
  margin-right: 65px;
}

.nav_list li:nth-child(3) {
  margin-right: 0;
}

.nav_list li a {
  font-size: 21px;
  color: var(--meu-color);
  text-align: center;
  font-weight: 600;
  line-height: 7.42px;
  transition: all 0.5s ease-in-out;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 23px;
  max-width: 32px;
  width: 100%;
}

.icon-2 {
  margin-right: 27px;
  max-width: 32px;
  width: 100%;
}

.actived {
  position: relative;
}

.nav_list a:hover {
  color: #62e9ff;
}

.actived::before {
  content: "";
  display: block;
  width: 29px;
  height: 2px;
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-23px, -29px);
  background-color: #62e9ff;
}

.nav-btn {
  border: 2px solid var(---menu-border-color);
  color: var(--meu-color);
  font-weight: 500;
  font-size: 21px;
  padding: 14px 24px 14px 23px;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
}

.nav-btn:hover {
  background-color: var(---menu-border-color);
  color: #111111;
}

/* hader-part-end  */
/* banner-part-start  */

.banner-text {
  text-align: center;
  max-width: 1002px;
  width: 100%;
  margin-left: 314px;
  margin-right: 284px;
}

.banner-text h1 {
  color: var(---hero-sec-text-color);
  font-size: 80px;
  margin-bottom: 33px;
}

.banner-text span {
  background: var(---hero-sec-text-gradient);
  background-clip: text;
  color: transparent;
}

.banner-images {
  max-width: 611px;
  width: 100%;
  vertical-align: middle;
  transform: translate(0%, 4%);
}

.banner-para {
  max-width: 345.45px;
  width: 100%;
  margin-top: 90px;
}

.banner-para p {
  font-size: 23px;
  font-weight: 600;
  line-height: 30px;
  color: #a5a5a5;
}

.para-2 {
  margin-bottom: 69px;
}

.button{
  padding: 15px 35px 15px 30px;
  border-radius: 8px;
  font-size: 21px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.banner-button-1 {
 
  background: var(---hero-sec-text-gradient);
  color: #090909;
}

.banner-button-2 {
  border: 2px solid #62e9ff;
  padding-left: 55px;
  padding-right: 55px;
  /* padding: 16.33px 56px 18.17px 56px;
  border-radius: 8px; */
  color: #d1d1d1;
  /* font-size: 21px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal; */
  transition: all 0.5s ease-in-out;
}

.banner-button-2:hover {
  background-color: var(---menu-border-color);
  color: #111111;
}

.number-text {
  text-align: center;
}

.number-text h2 {
  font-size: 55px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 19px;
}

.number-text p {
  color: #01ade5;
  margin-bottom: 35px;
  font-size: 19px;
}

.banner-button-sec {
  display: flex;
}

.border-bottom {
  position: relative;
}

.border-bottom::before {
  content: "";
  display: block;
  width: 179.5px;
  height: 2px;
  background-color: #01ade5;
  position: absolute;
  top: 35px;
  left: 35px;
}

.number-text h3 {
  font-size: 55px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 68px;
}

.number-text h4 {
  font-size: 55px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 29px;
}

/* banner-part-end  */
/* trending-part-start  */
.trending-bg {
  background-color: #000000;
  padding: 117px 0 0px;
  position: relative;
}

.trending-text h2 {
  font-size: 30px;
  color: #93ebf9;
  font-weight: 600;
  line-height: 5.2px;
  margin-bottom: 25px;
}

.trending-text h3 {
  font-size: 70px;
  font-weight: 500;
  color: #93ebf9;
  margin-bottom: 22px;
}

.trending-text-para {
  max-width: 479px;
  width: 100%;
  text-align: center;
}

.trending-text-para p {
  font-size: 18px;
  font-weight: 600;
  color: #a5a5a5;
}



/* card -start  */
